main { 
    position: absolute;
    left: 9%;
    right: 9%;
}

.nav {
    background-color: #3D5B59;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo {
    height: 100%;
    background-color: #fffff;
}

.nav__img {
    height: 100%;
}

.nav__link {
    color: #F5F5DC;
    text-decoration: none;
}

.video {
    margin-top: 20px;
    margin-bottom: 20px;
}

