main { 
    margin-left: 9%;
    margin-right: 9%;
}

.dark-theme {
    background-color: var(--neutro2);
    color: var(--neutro1);
}

:root{
    --secundario: #BE858C;
    --primario: #3D5B59;
    --neutro1: #F5F5DC;
    --neutro2: #262621;
}

h2, h3 {
    font-family: 'PT Sans', sans-serif;
}

.titulo {
    text-shadow: 2px 2px 4px var(--primario);
    padding-top: 15px;
    text-align: left;
}

p {
    font-family: 'PT Serif', serif;
    text-align: left;
    padding: 10px;
}

header {
    height: 100px;
    width: 100%;
    background-color: var(--primario);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: var(--secundario);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
}

.nav__logo, .nav__img {
    height: 100%;
    float: left;
    filter: hue-rotate(310deg);
}

nav > ul > li {
    display: inline-block;
    padding: 10px;
}

.nav__link {
    color: #F5F5DC;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    text-align: center;
}

.nav__dark-ligth, .nav__img2 {
    float: right;
}


.video {
    margin-top: 20px;
    margin-bottom: 20px;
}

.video:hover {
    box-shadow: 0 0 15px 0 var(--secundario);
}   

.diferenciales__contenidos {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.diferenciales__listas {
    list-style: none;
    list-style-image: url('imagenes/icons8-libro-16.png');
    padding: 30px;
    margin: 0;
}

.diferenciales__img {
    width: 100%;
}

#ubicacion {
    text-align: center;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: static;
    bottom: 0;
}

.footer__link {
    color: var(--neutro1);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.footer__copyright {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.footer__logo, .footer__img {
    height: 100%;
    filter: hue-rotate(30deg);    
}
