
main { 
    position: absolute;
    left: 9%;
    right: 9%;
}

:root{
    --secundario: #BE858C;
    --primario: #3D5B59;
    --neutro1: #F5F5DC;
    --neutro2: #262621;
}

.header {
    height: 100px;
    width: 100%;
    background-color: var(--primario);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo, .nav__img {
    height: 100%;
    float: left;
}

.nav__link {
    color: #F5F5DC;
    text-decoration: none;
    padding: 20px;
}

.nav__links {
    justify-content: space-evenly;
}

.nav__dark-ligth, .nav__img2 {
    float: right;
}


.video {
    margin-top: 20px;
    margin-bottom: 20px;
}

.video:hover {
    box-shadow: 0 0 15px 0 var(--secundario);
}   

.diferenciales__contenidos {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.diferenciales__img {
    width: 100%;
}


.container {
    display: flex;
    align-items: center;
}

.text {
flex: 1;
margin-left: 20px;
}

p {
    font-family: 'PT Serif', serif;
    text-align: justify;
    padding: 10px;
}

h2, h3 {
    font-family: 'PT Sans', sans-serif;
}

.footer__copyright {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.titulo {
    text-shadow: 2px 2px 4px var(p);
    padding-top: 15px;
    text-align: left;
}

.diferenciales__contenidos {
    padding: 10px;
}

#ubicacion {
    text-align: center;
    padding-top: 30px;
}

.footer {
    background-color: var(--secundario);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position:fixed;
    bottom: 0;
    text-decoration: none;
}

.footer__logo {
    height: 100%;
    background-color: transparent;
}

.footer__img {
    height: 100%;
}
