/*estilos del header*/
body{
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: #B7A6F6;
    padding: 20px 0;
}

.logo{
    width: 150px;
    height: 150px;
}

.banner{
    width: 350px;
    height: 300px;
}

    

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #732634;
    text-decoration: underline;
}

/*estilos del main de productos*/

.productos{
    padding: 20px;
}

.productos-caja{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.productos-container{
    width: 152px;
    height: 220px;
    text-align: center;
}

.productos-libros {
    width: 64px;
    height: 100px;
    flex-direction: column;
    height: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.productos-descripcion{
    text-align: center;
}

.productos-container .boton-rosa{
    background-color:#EEBBFA;
}
/*estilos del footer*/
footer{
    text-align: center;
    background: url(imagenes/fondo.png);
    padding:40px;
}

.copyright{
    color:#FFFFFF;
    font-size: 15px;
    margin:20px;
}